body {
  padding: 0;
  margin: 0;
}
/*-------------------HEADER-------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #f5f5f5;
  position: sticky;
  top: 0;
}
.logo {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  color: #111111;
  text-align: center;
  padding: 1.15rem 1.1rem;
  text-decoration: none;
}
.logo:hover {
  border-style: none none solid none;
  border-width: 2px;
  border-color: #111111;
}
nav {
  margin: 0 2rem 0 17rem;
}
header nav ul {
  list-style-type: none;
  margin: 0;
}
header nav li {
  cursor: pointer;
  display: inline-block;
}
header nav li a {
  color: #111111;
  text-align: center;
  padding: 1.25rem 1.1rem;
  text-decoration: none;
}
header nav li a:hover {
  border-style: none none solid none;
  border-width: 2px;
  border-color: #111111;
}
/*-------------------MAIN-------------------*/

.hero-section {
  background: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80")
    50% no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hero-section-text {
  margin-top: 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

/*------------------FOOTER--------------------*/
.sticky-footer-css {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 17%;
}

.sticky-footer-css .footer {
  height: auto;
  background-color: #f5f5f5;
  color: #111111;
  padding: 4rem;
}

/*-------------------------------------------*/

@media screen and (max-width: 800px) {
  nav {
    margin: 0;
  }
}
@media screen and (max-width: 479px) {
  nav {
    font-size: 12px;
  }
  nav ul li a {
    padding: 1.25rem 0.3rem;
  }
  .tabela {
    overflow-x: auto;
  }
}
